Repository pact0/nvf, changes with the labels that .github/labeler.yml gives for each.
All labels: parts, docs, plugins, treewide, CI

.github/labeler.yml:

parts:
  - changed-files:
      - any-glob-to-any-file: parts/**/*
docs:
  - changed-files:
      - any-glob-to-any-file: docs/*
plugins:
  - changed-files:
      - any-glob-to-any-file: config/plug/**/*
treewide:
  - changed-files:
      - any-glob-to-any-file: "*"
CI:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*

chore: nest options
  config/config.nix
Labels: none

feat: expose mkNeovim function
  parts/default.nix
Labels: parts

fix: mkNeovim expose per system
  parts/default.nix
Labels: parts

fix: mkNeovim
  parts/default.nix
Labels: parts

feat(lib): maybe fix mkNeovim
  parts/default.nix
Labels: parts

f
  parts/default.nix
Labels: parts

f
  parts/default.nix
Labels: parts

f
  parts/default.nix
Labels: parts

bump
  config/config.nix
  flake.lock
  parts/default.nix
Labels: parts, treewide

bump
  config/config.nix
  flake.lock
Labels: treewide

added clang_format
  config/config.nix
Labels: none

add cmake-format config
  config/config.nix
  flake.lock
Labels: treewide

add json lsp
  config/config.nix
Labels: none

add clipboard providers
  config/config.nix
Labels: none

added keymaps
  config/config.nix
  config/default.nix
  config/keymaps.nix
Labels: none

add aerial and grug-far search replace
  config/config.nix
Labels: none

bump source
  flake.lock
Labels: treewide

add mini pick
  config/config.nix
Labels: none

bump
  config/config.nix
  flake.lock
Labels: treewide

bump
  config/config.nix
Labels: none

bump
  config/config.nix
  parts/default.nix
  parts/dev-shell/default.nix
Labels: parts

bump
  config/config.nix
Labels: none

disable fold
  config/config.nix
Labels: none

bump
  config/config.nix
  flake.lock
Labels: treewide

surround
  config/config.nix
Labels: none

bump
  flake.lock
Labels: treewide

add overseer
  config/config.nix
Labels: none

mini mappings
  config/config.nix
Labels: none

bump flake
  flake.lock
Labels: treewide

bump
  flake.lock
Labels: treewide

bump
  flake.lock
Labels: treewide

bump
  flake.lock
Labels: treewide

bump
  flake.lock
Labels: treewide

add hunk keymap
  config/keymaps.nix
Labels: none

bump
  flake.lock
Labels: treewide

bump
  flake.lock
Labels: treewide

obsidian
  config/config.nix
Labels: none

update image dependency
  config/vim.nix
Labels: none

bump
  flake.lock
Labels: treewide

add tsx
  config/config.nix
Labels: none
