Repository pact0/nvf, changes with the labels that .github/labeler.yml gives for each.
All labels: parts, docs, plugins, treewide, CI

fix parsing error
  parts/pre-commit/default.nix
Labels: parts

bump
  flake.lock
Labels: treewide

fix warning
  parts/pre-commit/utils.nix
Labels: parts

exclude externals on demand
  config/config.nix
Labels: none

LSP changes
  config/config.nix
Labels: none

bump
  config/config.nix
  flake.lock
Labels: treewide

add biome formater
  config/config.nix
Labels: none

add neo-tree
  config/config.nix
  flake.lock
Labels: treewide

add neotest
  config/config.nix
Labels: none

CI workflows update
  .github/workflows/check.yml
  .github/workflows/dead.yml
  .github/workflows/fmt.yml
  .github/workflows/lint.yml
  .github/workflows/update.yml
Labels: CI

remove unused assets
  .github/assets/1.png
  .github/assets/2.png
  .github/assets/3.png
  .github/assets/4.png
  .github/assets/neovim-flake-logo-work.svg
Labels: none

format readme
  .github/README.md
Labels: none

disable link checker
  parts/pre-commit/default.nix
Labels: parts

fix warning
  config/config.nix
Labels: none

fix fmt job
  .github/workflows/fmt.yml
Labels: CI

add build step to flake check
  parts/default.nix
Labels: parts

move statix lint job to check provided by flake.
  .github/workflows/lint.yml
  parts/default.nix
  parts/pre-commit/default.nix
Labels: parts, CI

remove dedicated deadnix check job since its in the flake check
  .github/workflows/dead.yml
Labels: CI

add nvim smoke test and cache to CI
  .github/workflows/check.yml
  .github/workflows/fmt.yml
  .github/workflows/update.yml
  parts/default.nix
Labels: parts, CI

.github/labeler.yml:

parts:
  - changed-files:
      - any-glob-to-any-file: parts/**/*
docs:
  - changed-files:
      - any-glob-to-any-file: docs/*
plugins:
  - changed-files:
      - any-glob-to-any-file: config/plug/**/*
treewide:
  - changed-files:
      - any-glob-to-any-file: "*"
CI:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
